.content-section {
  text-align: center;
  background-color: #e9ecef; 
  border-bottom: 1px solid #dee2e6; 
 
}

.flip-section {
  height: 60vh; 
  display: flex; 
  justify-content: center; 
 
  
}

.flip-card {
  perspective: 1000px; 
  width: 300px;
  height: 200px;
  
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 80%;
  backface-visibility: hidden;
}

.flip-card-front img,
.flip-card-back img {
  width: 100%;
  height: 250%;
  object-fit: cover;
  padding: 10px;
}



.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}